        .bod{
                background-image:url("../Images/backgnd.jpg");
                background-size: contain;
                width: 90%;
                padding: 10%;
                margin-left: auto;
                margin-right: auto;
            }
    
                #header{
                    margin-bottom: 20px;
                }
    
                .image {
                    animation-name: image;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    position: relative;
                    color: #000000c5;
                }
                @keyframes image{
                    0% {transform: rotate(0deg); margin-left: 150px;}
                    20% {transform: rotate(0deg); margin-left: 300px;}
                    40% {transform: rotate(0deg); margin-left: 450px;}
                    60% {transform: rotate(0deg); margin-left: 600px;}
                    80% {transform: rotate(0deg);margin-left: 750px;}
                    100% {transform: rotate(0deg); margin-left: 800px;}
                }
    
                .centertext {
                    position: absolute;
                    top: 25%;
                    transform: rotate(330deg);
                }
    
                .dropbtn {
                    background-color:rgb(201, 201, 201);
                    color: white;
                    padding: 0px;
                    border: none;
                }
    
                .navigation {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 20px;
                }
    
                .navigation-content {
                    display: none;
                    position: absolute;
                    background-color:#ccc;
                    min-width: 160px;
                    z-index: 1;
                }
    
                .navigation-content a {
                    color: rgb(0, 0, 0);
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
    
                .navigation-content a:hover {background-color: #eaeaea;}
    
                .navigation:hover .navigation-content {display: block;}
    
                .navigation:hover .dropbtn {background-color: #eaeaea;}

                #foot{
                    font-weight: bold;
                }

            .printblock{
                text-align: center;
                border: 3px dotted black;
                border-radius: 10px;
                margin-left: auto;
                margin-right: auto;
                background-color: rgba(238, 238, 238, 0.712);
                margin: 10%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            
            input[type=button]{
                padding: 15px 60px;
                margin-bottom: 30px;
                font-size: 30px;
                cursor: pointer;
                border-radius: 3%;
                transition: background-color 1s;
                border: 2px solid rgb(0, 0, 0);
                background-color:#eaeaea;
            }
            input[type=button]:hover {
                background-color: aqua;
            }
            
            #ordtext
            {
                text-align: center;
                font-size: 40px;
                font-family: fantasy;
            }

            .radiocont{
                display: inline-block;
                position: relative;
                text-align: center;
                cursor: pointer;
                margin-bottom: 25px;
                font-size: 30px;
                font-family: cursive;
                font-weight: bold;
                padding-left: 30px;
            }
            .radiocont input{
                display: none;
            }
            .radiocont .circle{
                display: inline-block;
                width: 15px;
                align-self: center;
                height: 15px;
                border: 5px solid rgb(255, 255, 255);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                position: relative;
                border-radius: 50%
            }
            .radiocont input:checked + .circle{
                background-color: rgb(19, 53, 245);
            }
            
            #printtable {
                text-align:center;
                border-collapse: collapse;
                border: 0.5px solid black;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1%;
                margin-bottom: 5%;
            }

            #printtable td{
                padding: 25px;
            }

            #printtable th {
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
                font-size: 20px;
                background-color: rgba(92, 92, 92, 0.151);
                color: rgb(34, 34, 34);
            }

            #printtable tr:nth-child(even){background-color: rgba(238, 238, 238, 0.712);}

            .orderbox {
                clear: both;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 5%;
                padding-top: 10%;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-size: 18px;
                width: 90%;
            }

            #orderinfo {
                text-align: center;
                display: initial;
                font-size: 40px;
                font-family: fantasy;
                table-layout: auto;
                padding: 8px;
            }  
            h2{
                letter-spacing: 4px;
                text-decoration: underline;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 40px;
            }  

            .footer {
                clear: both;
                border-radius: 25px;
                border: 2px solid #73AD21;
                background-color:rgba(238, 238, 238, 0.712);
                padding: 20px 20px;
                text-align: center;
            }
            .footer a:visited{color: blue;}
            #ftext{
                width: 100%;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
                letter-spacing: 4px;
                word-spacing: 4px;
            }
            #flink{
                width:100%;
                font-family: 'Courier New', Courier, monospace;
                font-size: 20px;
                word-spacing: 100px;
            }
            
            @media print{
                .footer{
                    display: none;
                }
                .navigation{
                    display: none;
                }
                body{
                    filter: grayscale(100%);
                }
                .header{
                    width: 50%;
                }
            }